@use "./partials/variables" as *; 
@use "./partials/mixins" as *; 
@use "./partials/typography" as *; 


html {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-family: 'AvenirRegular';
    width:100vw;
//    max-width: 1280px;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    @include tablet{
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}

footer{
    @include tablet{
        line-height: 1.25rem;
    }

}

h1{
    font-family: "AvenirDemi";
    font-size: 1.5rem;
    line-height: 2rem;
    @include tablet{
        font-size:3.75rem;
        line-height:4.25rem;
    }
}

h2{
    font-family: "AvenirDemi";
    font-size: 1.5rem;
    line-height: 2rem;
    @include tablet{
        font-size:2.25rem;
        line-height:2.75rem;
    }

}

h3{
    font-family: "AvenirDemi";
    font-size: 0.875rem;
    line-height: 1.375rem;
    @include tablet{
        font-size:2rem;
        line-height:1.5rem;
    }
}

.container{
    padding: 0 1rem;
    @include tablet{
        padding: 0 2.25rem;
    }
    @include desktop{
        padding: 0 5rem;
    }

}

.section__title{
    margin: 0;
    padding: 1.5rem 0 1rem 0;
    @include tablet{
        padding: 3rem 00 2.25rem 0;
    }
}

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bandsite-black;

    @include tablet{
        flex-direction: row;
    }

    &__title{
        color: $white;
        font-size: 1.5rem;
        padding: 1rem;
        @include tablet{
            padding: 1rem;
        } 

    }

    &__panel{
        display: flex;
        list-style: none;
        width:100%;
        justify-content: space-evenly;
        padding-inline-start:0;
        padding: 0;

        @include tablet{
            width: fit-content;
            gap: 2rem;
        }
    
    }
    
    &__link{
        color:$mercury;
        text-decoration: none;
        padding: 1rem;

        &:hover{
            color: $white;
            border-bottom: 3px solid $white;
            
        }

        &--active{
            color: $white;
            font-family: "AvenirBold";
            border-bottom: 3px solid $white;        
        }
    }
}

.hero{
    width: 100%;
    max-width: 1280;
    height: 80vh;
    display:flex;
    align-items: center;
    background-image: linear-gradient(
      rgba(32, 32, 32, 0.5),
      rgba(32, 32, 32, 0.5)
    ),
    url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__header{
        color:$white;
        max-height:50%;
    
    }

}


.hero__image{
    display:flex;
    max-width: 100%;
}

.about{
    &__container{
        padding: 0;
        @include tablet{
            padding: 0 4rem;
        }
    }

    &__quote{
        font-family: "AvenirDemi";
        font-size: 1.5rem;
        &--ref{
            font-family: "AvenirDemi";
            font-size: 1rem;
        }
    }
    
    &__content{
        @include tablet{
            display: flex;
            gap: 1rem;
        }

    }

}

.photogallery{
    background-color: $alabaster;
    &__panel{
        display:flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__image{
        width:100%;
        @include tablet{
            width:30%;
        }
    }
}

.footer{
    margin-top: 1rem;
    background-color: $bandsite-black;
    color:$white;
    position:relative;
    @include tablet{
        margin-top: 2rem;
    }
    &__subtitle{
        font-family: 'AvenirDemi';
        font-size: 0.8125rem;
        line-height: 1.125rem;
        @include tablet{
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }

    &__wrapper{
        @include tablet{
        display:flex;
        flex-direction: row;
        gap:5rem;
        align-items: center;
        justify-content:flex-start;
        }
    }

    &__brandname{
        @include tablet{
            font-family:"AvenirRegular";
            position:absolute;
            top:1.6rem;
            right:4rem;
        }
    }
}

.contact{
    display:flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        gap:4rem;
    }


}

